@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

html, body {
  font-family: 'Titillium', sans-serif;
  background-color: #eee;
  margin: 20px;
}

h2 {
  margin: 0;
  padding: 0;
}
